.menu_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 0 4%;
}

.left-nav {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.right-nav {
  justify-content: flex-end;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tabbed_navigation_container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0;
  padding: 0;
}

.tabbed_navigation_single {
  list-style-type: none;
}

.tabbed_navigation_secondary {
  /* background-color: #db0000; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.nav-element {
  margin-right: 10px;
}

img {
  width: 32px;
  height: 32px;

  object-fit: cover;
}

.user {
  background-image: url("../../../public/user.png");
}

ion-icon {
  font-size: 32px;
  color: white;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  height: 100%;
  cursor: pointer;
  letter-spacing: 1px;
  margin-left: 18px;
}

a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.game {
  color: #db0000;
}

h1 {
  color: antiquewhite;
}
